<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sammys</key>
	<dict>
		<key>latitude</key>
		<real>40.90234</real>
		<key>longitude</key>
		<real>-74.00440999999999</real>
	</dict>
</dict>
</plist>
