<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379306285305-i9s0p3co8ddes61jnsk6k9e0292gp499.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379306285305-i9s0p3co8ddes61jnsk6k9e0292gp499</string>
	<key>API_KEY</key>
	<string>AIzaSyCVw1GRwdiE9ucjfNoi6Vgz8VIYsYVOfNs</string>
	<key>GCM_SENDER_ID</key>
	<string>379306285305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niazoff.sammys</string>
	<key>PROJECT_ID</key>
	<string>sammys-prog</string>
	<key>STORAGE_BUCKET</key>
	<string>sammys-prog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:379306285305:ios:08cf0ffb0219ea4d</string>
	<key>DATABASE_URL</key>
	<string>https://sammys-prog.firebaseio.com</string>
</dict>
</plist>
