<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>380157188420-r0uor0qurcqsdsb83un67df82ojs1gan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380157188420-r0uor0qurcqsdsb83un67df82ojs1gan</string>
	<key>API_KEY</key>
	<string>AIzaSyA0MBpYs_T009RHlCHTPcZCArMoVWXRDqw</string>
	<key>GCM_SENDER_ID</key>
	<string>380157188420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.natanelniazoff.Sammys</string>
	<key>PROJECT_ID</key>
	<string>sammys-73b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>sammys-73b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380157188420:ios:e35ca9ec130e8c29</string>
	<key>DATABASE_URL</key>
	<string>https://sammys-73b4d.firebaseio.com</string>
</dict>
</plist>